extends ./layout/index

//- hacemos referencia al nombre del layout principal o del master pages, que se llama contenido
//- Es importante la identación, de lo contrario se produciran errores
block contenido
    p Inicio